:root {
  --white-text: #fff8f2;
  --fondo: #17181d;
  --yellow-box: #e09145;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: var(--fondo);
  color: var(--white-text);
}

/**-------------------------menu--------------------*/
.container__nav {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2em;
}
.hamburger {
  display: none;
}
.nav__bar ul {
  display: flex;
}
.nav__bar ul li a {
  display: block;
  color: var(--white-text);
  padding: 10px 20px;
  border-radius: 40px;
  transition: 0.2s;
}
.nav__bar ul li a:hover {
  background: var(--yellow-box);
  color: var(--fondo);
}
@media (max-width: 952px) {
  .nav__bar ul li a {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: var(--white-text);
    margin: 6px 0;
  }
  .nav__bar {
    position: absolute;
    top: 80px;
    left: 1;
    right: 0;
    width: 60vw;
    height: 100vh;
    background-color: var(--fondo);
    transition: 0.2s;
  }

  .nav__bar ul  {
    display: block;
    width: fit-content;
    margin: 3em auto 0 auto;
    text-align: center;
    transition: 0.3s;

  }
  .nav__bar ul li a {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .desactive{
    display: none;
  }

}
/**-----------------------NOMBRE -------------------------***/
.presetation__container {
  text-align: center;
  margin: 1em;
}
.presentation__title {
  font-size: 3em;
}
.presentation_paragraph {
  font-size: 1.2em;
}

.contact__container a {
  font-size: 1.5em;
  margin: 2em;
}
.presetation__container article p {
  margin: 0.8em 0;
}

@media (max-width: 858px) {
  .presentation__title {
    font-size: 2.5em;
  }
  .presentation_paragraph {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .presentation__title {
    font-size: 2em;
  }
  .presentation_paragraph {
    font-size: 1em;
  }
}
/*---------------------------redes---------------------*/
.contact__container {
  font-size: 1.5em;
  text-align: center;
  margin: 1em;
}
.contact__container a {
  padding: 6px;
  color: var(--white-text);
  border-radius: 10px;
}
.contact__container a:hover {
  background: var(--yellow-box);
  color: var(--fondo);
  transition: 0.5s;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .contact__container {
    font-size: 1em;
  }
}
/*---------------------------cv ---------------------*/

.container__cv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2em;
}
.cv {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 1em;
  font-weight: 500;
  letter-spacing: 2px;
}
.card__cv {
  width: 25em;
  height: 12em;
  background: #292c35;
  text-align: center;
  padding: 1.5em;
}
.title__Card p {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.4em;
  text-align: center;
  margin: 1em auto;
}
.descrip__cv {
  border: 2px #e09145 solid;
  padding: 1em;
  border-radius: 5px;
}
.descrip__cv a {
  color: var(--white-text);
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.descrip__cv:hover {
  background: var(--yellow-box);
  transition: 0.5s;
}
.descrip__cv a:hover {
  color: var(--fondo);
  font-weight: 600;
  transition: 0.5s;
}
/**-----------------------PROYECTOS  -------------------------***/
.container__projects {
  display: flex;
  flex-wrap: wrap;
}

.blog {
  width: 20em;
  height: 20em;
  background: #292c35;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  margin: 1.5em 1em;
}
.blog:hover {
  background: #30333b;
  color: #fcd9b8;
  transition: 1s;
}
.title-box {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.title-box hr {
  margin: 1em;
  height: 0.25em;
  border: none;
  background: var(--yellow-box);
}
.title-box h3 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.4em;
  text-align: center;
}
.intro {
  width: 170px;
  margin: 0 auto;
  font-family: "Droid Serif", serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.info {
  font-family: "Droid Serif", serif;
  font-size: 1.2em;
  line-height: 1.1em;
  padding: 2em;
  text-align: center;
}

/*-----------------------footer *---------------------*/
.footer {
  margin-top: 2em;
  padding: 1em;
  font-size: 12px;
  text-align: justify;
}
